{% include 'base/base.html' %}
{% load static %}
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    
    <button class="navbar-toggler me-2" type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasDarkNavbar" 
            aria-controls="offcanvasDarkNavbar" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand mx-auto d-flex align-items-center" href="{% url 'home' %}">
      <img src="{% static 'images/mascotasin.png' %}" alt="Logo" 
           style="height: 57px; margin-right: 8px; object-fit: contain;">
      <span class="fw-bold text-white">LineupAngle</span>
    </a>
    
    <div style="width:40px;"></div>

    <div class="offcanvas offcanvas-start text-bg-dark" 
         tabindex="-1" 
         id="offcanvasDarkNavbar" 
         aria-labelledby="offcanvasDarkNavbarLabel">

      <div class="offcanvas-header">
        {% if user.is_authenticated %}
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Hola, {{ user.username }}</h5>
        {% else %}
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Bienvenido a LineupAngle</h5>
        {% endif %}
        <button type="button" class="btn-close btn-close-white" 
                data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" 
               data-bs-toggle="dropdown" aria-expanded="false">
              Jugador Nuevo
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Fundamentos</a></li>
              <li><a class="dropdown-item" href="#">Agentes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Mapas</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lineuphome' %}">Lineups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comunidad</a>
          </li>

          <hr style="color: var(--texto-secundario);">

          {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'perfil' %}">Mi Perfil</a> </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" style="color: var(--acento-principal);">Cerrar Sesión</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
              </li>
          {% endif %}
          </ul>

        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-success" type="submit">Buscar</button>
        </form>
        <div class="mt-auto text-center pt-4">
            <img src="{% static 'images/mascotasinfondo.png' %}" 
                 alt="Mascota LineupAngle" 
                 style="max-width: 250px; height: auto; opacity: 0.8;">
        </div>
      </div>
    </div>
  </div>
</nav> 
<script src="https://cdn.j
sdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% block content %}

{% endblock %}