{% include 'base/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/menu2.css' %}"> 

<nav class="beginner-navbar p-1">
    <div class="container">
        
        <ul class="navbar-nav">
            
            {% with request.resolver_match.url_name as active_url %}
            
            <li class="nav-item">
                <a class="nav-link {% if active_url == 'home' %}active-link{% endif %}" 
                   href="{% url 'fundamentos' %}">
                   Fundamentos
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link {% if active_url == 'agente_list' or 'rol_detail' in active_url %}active-link{% endif %}" 
                   href="{% url 'agents_page' %}">
                   Agentes y Roles
                </a>
            </li>
                    
            <li class="nav-item">
                <a class="nav-link {% if active_url == 'arma_list' %}active-link{% endif %}" 
                   href="{% url 'weapons_page' %}">
                   Armas
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link {% if active_url == 'mapa_list' %}active-link{% endif %}" 
                   href="{% url 'maps_page' %}">
                   Mapas
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link {% if active_url == 'glosario_list' %}active-link{% endif %}" 
                   href="{% url 'lenguajev' %}">
                   Glosario
                </a>
            </li>

            {% endwith %}
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}